anyio
argcomplete
attrs
Automat
Babel
bcrypt
blinker
certifi
chardet
click
cloud-init
colorama
command-not-found
configobj
constantly
cryptography
dbus-python
distro
distro-info
h11
httpcore
httplib2
httpx
hyperlink
idna
incremental
Jinja2
jsonpatch
jsonpointer
jsonschema
launchpadlib
lazr.restfulclient
lazr.uri
markdown-it-py
MarkupSafe
mdurl
nala
netifaces
oauthlib
packaging
pexpect
pipx
platformdirs
psutil
ptyprocess
pyasn1
pyasn1-modules
pycurl
Pygments
PyGObject
PyHamcrest
PyJWT
pyOpenSSL
pyparsing
pyrsistent
pyserial
python-apt
python-debian
pytz
PyYAML
requests
rich
service-identity
setuptools
six
sniffio
socksio
systemd-python
tomli
Twisted
typer
typing_extensions
ubuntu-pro-client
unattended-upgrades
urllib3
userpath
wadllib
wheel
zope.interface
